# App
NODE_ENV=development
PORT=3000
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=1d

# Database used by API
DB_HOST=db
DB_PORT=5432
DB_USER=eco_charge_user
DB_PASSWORD=change_me_strong_password
DB_NAME=eco_charge_db

# Database bootstrap vars used by postgres container
POSTGRES_USER=eco_charge_user
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=eco_charge_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
